@model List<Course>


@foreach (Course course in Model)
{
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="single-course mb-70">
            <div class="course-img">
                <a asp-action="Detail" asp-controller="Course" asp-route-id=@course.ID>
                    <img src="~/img/course/@course.Image" alt="course">
                    <div class="course-hover">
                        <i class="fa fa-link"></i>
                    </div>
                </a>
            </div>
            <div class="course-content">
                <h3><a asp-action="Detail" asp-controller="Course" asp-route-id=@course.ID>@course.Name</a></h3>
                <p>@course.Description</p>
                <a class="default-btn" asp-action="Detail" asp-controller="Course" asp-route-id=@course.ID>read more</a>
            </div>
        </div>
    </div>
}
